[submodule "dist/preexec"]
    path = dist/preexec
    url = git@github.com:doctaphred/preexec.git
[submodule "dist/fzf"]
    path = dist/fzf
    url = git@github.com:doctaphred/fzf.git
[submodule "dist/liquidprompt"]
    path = dist/liquidprompt
    url = git@github.com:doctaphred/liquidprompt.git
[submodule "dist/rmate"]
    path = dist/rmate
    url = git@github.com:doctaphred/rmate.git
[submodule "dist/direnv"]
	path = dist/direnv
	url = https://github.com/doctaphred/direnv
[submodule "dist/fabricate"]
	path = dist/fabricate
	url = git@github.com:doctaphred/fabricate.git
