[submodule "dist/preexec"]
    path = dist/preexec
    url = https://github.com/doctaphred/preexec
[submodule "dist/fzf"]
	path = dist/fzf
	url = https://github.com/doctaphred/fzf
[submodule "dist/liquidprompt"]
	path = dist/liquidprompt
	url = https://github.com/doctaphred/liquidprompt
